html {
    font-size: 1em;
}

header,
#projects,
footer {
    display: flex;

}

.content-wrapper {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 1.1rem;
}

.navbar-brand img {
    height: 50px;
    margin-top: 26px;
}

#bs-example-navbar-collapse-1 {
    padding-left: 90px;
}

#center-labels h2 {
    font-weight: bold;
}

@media (min-width: 1204px){
    #session{
        margin-top: 20px;
        margin-left:250px;
        margin-right: 10px;
        position:absolute;
        right: 0px;
        top: 0px;
    }
    #session img {
        height: 75%;
        width: 75%
    }

}

td, th {
    border-spacing: 10px;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: rgb(219, 209, 197);
}

#footer-links {
    height:150px;
    width: 50%;
    margin: 0 auto;
}


.left {
    margin-right: 15px;
}

.right{
    margin-left: 15px;
}

#github-icon {
    height: 25%;
    width: 75%;
    margin: 0 auto;
}