/******************************************
/* BASE STYLES
/*******************************************/

html {
    font-size: 1em;
    font-family: 'Roboto', 'Arimo', sans-serif;
}

header {
    background-color: #ffffff;
}

header,
main,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    text-align: center;
    padding: 15px 0;
}

.content-wrapper {
    width: 95%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    border: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #201748;
    font-weight: bold;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    color: #201748;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3, h4 {
    font-family: 'Arimo', sans-serif;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.1rem;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Header */

header {
    padding-top: 5px;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav figure {
    width: 25%;
    margin: 0;
}

.code-gvl-logo {
    /* filter: drop-shadow(1px 2px 6px #5bc2a7); */
    max-width: 75px;
}

.site-title {
    color: #201748;
}

.dropdown-button {
    height: fit-content;
    width: 10%;
    background-color: #5bc2a7;
    color: #201748;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: var(--gap);
    padding: 0.6rem;
    cursor: pointer;
    border: none;
    box-shadow: var(--shadow);
    position: relative;
}

.dropdown-button i {
    font-size: 1.1rem;
}

.dropdown-menu {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
    width: 15%;
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    margin-top: 0.3rem;
    background: #5bc2a7;
    transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);

    transform: translateY(0.5rem);
    visibility: hidden;
    opacity: 0;
}

.show {
    transform: translateY(0rem);
    visibility: visible;
    opacity: 1;
}

.dropdown-menu a {
    display: flex;
    align-items: center;
    column-gap: var(--gap);
    padding: 0.8rem 1rem;
    text-decoration: none;
    color: #201748;
}

.dropdown-menu a:hover {
    background-color: var(--color);
    color: white;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    font-size: .9rem;
    padding: 0;
}

nav ul li a {
    padding: 0 10px;
}

.hero-image figure {
    background-size:cover ;
}

h2 a {
    color: #;
}

h3 a {
    color: #006341;
}

/* Projects */

#projects {
    display: flex;
    flex-flow: column;
}

.project-content {
    padding: 0 .25rem;
}

#projects .project-block {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column;
    border-bottom: 2px solid lightgray;
    padding-bottom: 20px;
    margin: 5px 0;
}

#projects article {
    width: 100%;
}

.project-title {
    font-weight: bold;
    color: #201647;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    font-size: .9rem;
    margin: 25px 0;
}

th {
    font-size: .95rem;
    text-align: center;
}

td {
    text-align: left;
}

td, th {
    border-spacing: 10px;
    padding: 10px;
}

/* tr:nth-child(even) {
    background-color: #ede2f3;
} */

table a {
    color: black;
    font-weight: bold;
}

.project-link i {
    color: #443850;
    font-size: 1.5rem;
}

.status-symbol {
    color: black;
    border: 3px solid;
    padding: .25rem;
    border-radius: 25px;
}

span.active {
    color: #5bc2a7;
    border-color: #5bc2a7;
}

span.under-consideration {
    color: #ffa300;
    border-color: #ffa300;
}

span.retired{
    color: #201647;
    border-color: #201647;
}

/* Connect */
footer {
    background: #ede2f3;
}

footer .content-wrapper {
    flex-flow: column;
}

#footer-links {
    display: flex;
    justify-content: center;
}

#footer-links ul {
    display: flex;
    flex-wrap: row-wrap;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

#footer-links li {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
}

#footer-links a {
    color: #201647;
    text-decoration: none;
    font-size: 2rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media (min-width: 768px) {
    .join-slack {
        color: black;
        background-color: #5bc2a7;
        border-radius: 15px;
        padding: 5px 10px;
    }
}