/******************************************
/* BASE STYLES
/*******************************************/

html {
    font-size: 1em;
    font-family: 'Roboto', 'Arimo', sans-serif;
}

header {
    background-color: white;
}

header,
main,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    text-align: center;
    padding: 30px 0;
}

.content-wrapper {
    width: 95%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    border: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #515967;
    font-weight: bold;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3, h4 {
    font-family: 'Arimo', sans-serif;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.1rem;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Header */

header nav {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

header nav figure {
    width: 10%;
    margin: 0;
}

/* .code-gvl-logo {
    filter: drop-shadow(1px 2px 6px #5bc2a7);
} */

nav ul {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    font-size: .9rem;
    padding: 0;
}

nav ul li a {
    padding: 0 10px;
}

h2 a {
    color: #443850;
}

h3 a {
    color: #5bc2a7;
}

/* Projects */

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    font-size: .9rem;
    margin: 25px 0;
}

th {
    font-size: .95rem;
    text-align: center;
}

td {
    text-align: left;
}

td, th {
    border-spacing: 10px;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #ede2f3;
}

table a {
    color: black;
    font-weight: bold;
}

.project-link i {
    color: #443850;
    font-size: 1.5rem;
}

.status-symbol {
    color: black;
    border: 1px solid black;
    padding: .25rem;
    border-radius: 25px;
}

span.active {
    color: green;
    border: 1px solid green;
}

span.under-consideration {
    color: gold;
    border: 1px solid gold;
}

span.retired{
    color: red;
    border: 1px solid red;
}

/* Connect */
footer .content-wrapper {
    flex-flow: column;
}

#footer-links {
    display: flex;
    justify-content: center;
}

#footer-links ul {
    display: flex;
    flex-wrap: row-wrap;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

#footer-links li {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
}

#footer-links a {
    color: #443850;
    text-decoration: none;
    font-size: 2rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/