<div class="container" id="footer">
    <footer>
        <div id="footer-links">
            <p>
                <span class="left"><a href="https://data.openupstate.org/contact/join_code_for_greenville_slack">Join Slack</a></span>
                <span class="right"><a href="https://www.meetup.com/Code-for-Greenville/events/">Find Events</a></span>
            </p>
            <p class="center">
                <div id="github-icon">
                    <a href="https://www.github.com/codeforgreenville"><img src="images/icons8-github-48.png" alt=""></a>
                </div>
            </p>
            <p class="copyright">@2023 Code for Greenville</p>
        </div>
    </footer>
</div>