
        <div class="container" id="center-labels">
        <h2>Code for Greenville</h2>
        <h4>A <a href="https://www.codeforamerica.org">Code for America</a> Brigade</h4>
        </div>
        <div class="container" id="description">
        {{site.description}}
        </div>
        <div id="session">
        <img src="images/session.png" alt="">
        </div>
        <div class="spacer" style="height:50px";>
        </div>
        <div style="margin-top: 50px;">
        {% include projects.html %}
        </div>
        <div class="spacer" style="height:50px";>
        </div>